.container {
  padding:36px 20px;
}
@media screen and (min-width:$viewport-7) {
  .container {
    padding:36px 40px;
  }
}
@media screen and (min-width:$viewport-14) {
  .container {
    padding:44px 126px;
  }
}
