:root {
    --swiper-navigation-size:32px !important;
    --swiper-theme-color:#fff !important;
}
.swiper-button-prev, .swiper-button-next {
    &:after{
        font-family:'Material Icons Round' !important;
        font-weight:bold;
    }
    &:hover, &:active, &:focus {
        &:after{
        padding:5px;
        box-sizing:border-box;
        background:$active-slider-blue;
        border-radius:50%;
        }
    }
}

.swiper-button-next{
    right:15px !important;
    &:after{
        content: '\e5cc' !important;
    }
}
.swiper-button-prev{
    left:15px !important;
    &:after{
        content: '\e5cb' !important;
    }
}
@media screen and (min-width:$viewport-14){
.swiper-container{
    padding-right:76px !important;
    padding-left:76px !important;
}
}
