:root {
    --swiper-navigation-size:32px;
    --swiper-theme-color:#fff;
}

.swiper-button-prev, .swiper-button-next {
    cursor: auto;
    &:after{
      display:none;
    }
}
.swiper-button-next {
  &:after {
    content: '\e5cc';
    right:50px;
    position:fixed;
  }
}
.swiper-button-prev {
  &:after{
    content: '\e5cb';
    left:50px;
    position:fixed;
  }
}
.swiper-pagination-bullet {
  opacity:1;
  background:$text-white;
}
.swiper-pagination-bullet-active {
  background: $active-slider-blue;
}
@media screen and (min-width:$viewport-7) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal >  .swiper-pagination-bullets {
    bottom:0;
  }
}
@media screen and (min-width: $viewport-14) {
    .swiper-button-prev, .swiper-button-next {
      cursor: pointer;
      &:after {
        font-family:'Material Icons Round';
        font-weight:bold;
        display:block;
      }
      &:hover {
        &:after {
          animation: navigation-ripple 0.4s ease;
        }
      }
      &:hover, &:focus, &:active {
        &:after {
          padding:5px;
          box-sizing:border-box;
          background:radial-gradient(circle at center, $active-slider-blue 0, $active-slider-blue 100%);
          border-radius:50%;
        }
      }
    }
}
