// colors
$background-blue:#4F73CD;
$card-blue:#254595;
$button-blue:#0047FE;

$active-category-blue:#80A0F2;
$hover-category-blue:#A5BEFF;
$active-dropdown-category-blue:#3259B9;
$active-slider-blue:#0047FF;

$text-white:#FFFFFF;


// breakpoints
$viewport-14:1440px;
$viewport-7:768px;
$viewport-3:375px;
