@import 'fonts';
@import 'variables';
@import 'resets';
@import 'animation';
@import '~retinajs/dist/_retina.scss';
@import '~swiper/swiper.scss';
@import '~swiper/components/pagination/pagination.scss';
@import '~swiper/components/navigation/navigation.scss';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
$material-icons-font-name: 'MaterialIcons-Round' !important;
$material-icons-font-family: 'Material Icons Round' !important;
@import 'swiper-custom';
